{
    "plugins": [ 
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
        [ "module-resolver", { "alias": { "~": "./src" } } ],
    ],
    "presets":[ [ "env", { "targets": { "node": "current" } } ]
        ]
}
